<div class="container-fluid">
	<h1 class="contact_header">Contact Info</h1>
		<div class="contactinfo">
			<div class="col-md-5 col-xs-7">
				<center><h2>Email</h2></center>
				<p class="product-info">kaylabutler.violin@yahoo.com</p>

				<center><h2>Social Media</h2></center>
				<ul>
				<li id="menu-bar">Facebook</li>
				<li id="menu-bar">Instagram</li>
				<li id="menu-bar">Tumblr</li>
				<li id="menu-bar">Pinterest</li>
				<li id="menu-bar">Twitter</li>
				</ul>
			</div>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
	<div class="col-md-6 col-xs-6">
		<div class="form-group">
			<%= label_tag :name %>
			<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
		</div>
		<div class="form-group">
			<%= label_tag :email, "Email Address" %>
			<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
		</div>
		<div class="form-group">
			<%= label_tag :message %>
			<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
			<%= submit_tag "Send" %>
			</div><!-- /contactinfo -->
		</div>
	</div>
</div>
<% end %>
<br>