<div class="product-reviews">
	<% @comments.each do |comment| %>
		<div class="row">
			<hr>
			<p class="alignright"><% if signed_in? && current_user.admin? %>
					<%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %></p>
				<p class="rating-name"><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
			<p class="rating-number"><%= "Rating: #{comment.rating}/5" %>
			<div class="rated" data-score="<%= comment.rating %>"></div></p>
			<p class="rating-comments">Comments: <%= comment.body %></p>
		</div>
	<% end %>
</div>