<div class="col-sm-4 col-md-4">
    <center><tr><%= image_tag(product.image_url, class: "img-responsive") %>
      <p class="product-name"><%= product.name %></p></center>
      <p class="product-info"><b>Description:</b> <%= product.description %></p>
      <p class="product-info"><b>Color:</b> <%= product.color %></p>
      <p class ="price_label"><center><strong>$<%= product.price %></strong></p>
      <td><%= link_to 'Show', product %></td> <% if current_user && current_user.admin? %>|
        <td><%= link_to 'Edit', edit_product_path(product) %></td> |
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td></tr><br>
    </div><!-- /col -->

    <% logger.debug "Product: #{product.name}"%>