<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12 col-md-12">

  <div class="col-sm-4 col-md-4">
    <div class="productimage">
      <center><%= image_tag(@product.image_url, class: "img-responsive", width: "400", data_zoom_image: @product.image_url) %></center>
      </div>
    </div>
<div class="col-sm-12 col-md-4">
  <div class="col-sm-12 col md-12">
    <div class="productname">
      <p>
        <center><span class="glyphicon glyphicon-heart"></span>
        <strong><h1>Name:</h1></strong>
        <%= @product.name %>
      </p></center>
    </div><!-- /productname -->
  </div><!-- /col-->

  <div class="col-sm-12 col-md-12">
    <div class="productdesc">
      <p id="pdescription">
        <strong><center><h1>Description:</h1></strong>
        <%= @product.description %>
      </p></center>
    </div><!-- /productdesc -->
  </div>

    <div class="col-sm-12 col-md-12">
      <p>
        <strong><center><h1>Image url:</h1></strong>
          <%= @product.image_url %>
      </p></center>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="productcolor">
       <p id= "pcolor">
        <strong><center><h1>Color:</h1></strong>
        <%= @product.color %>
      </p></center>
    </div><!-- productcolor -->
  </div>

    <div class="col-sm-12 col-md-12">
      <p>
        <strong><center><h1>Price:</h1></strong>
        $<%= @product.price %>
      </p></center>
    </div><!-- /col -->
  </div><!-- /row -->


<div class="col-sm-12 col-md-4">
  <div class="add-rating">
    <%= render 'new_comment' %>
  </div><!-- /add-rating -->
</div><!-- /col-md-4 -->

</div>
</div>


  <hr><br><br>
  <div class="col-sm-12 col-md-8">
    <div class="col-sm-12 col-md-12">
       <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
      </div>
  </div><!-- col-md-12-->

    <div class="col-sm-12 col-md-4">
      <div class="highest-comment">
        <p>  <%= render 'comments' %></p>
      </div><!-- /highest-comment -->
    </div><!-- /col-md-12 -->
  </div><!-- /col-md-4 -->


  <%= will_paginate @comments %>

<hr><br>

<p><center><%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %></center></p>
