<p id="notice"><%= notice %></p>

<% cache @product do %>
<div class="row">
  <div class="col-sm-12 col-md-12">
  <center><h2><b><%= @product.name %></b></h2></center>
  <br>

  <div class="col-sm-4 col-md-6">
    <div class="productimage">
      <center><%= image_tag(@product.image_url, width: "500", class: "img-zoom img-responsive", data_zoom_image: @product.image_url) %></center>
      </div>
    </div>
<div class="col-sm-6 col-md-4">
  <div class="col-sm-12 col md-12">
    <ul class="nav nav-tabs">
      <li class="nav active"><a href="#A" data-toggle="tab">DETAILS</a></li>
      <li class="nav"><a href="#B" data-toggle="tab">ADD A REVIEW</a></li>
      <li class="nav"><a href="#C" data-toggle="tab">REVIEWS</a></li>
    </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="A">
    <div class="productdesc">
      <p id="pdescription">
      <br>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
    </div><!-- /productdesc -->

      <p id="productprice">
        <br>
        $<%= @product.price %>
      </p>

    <p id="averagerating">
    <br><br>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>" id="#average-rating"></div></p>

    <%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product_id) %>
    <% end %>

  </div><!-- /row -->

<div class="tab-pane fade" id="B">
  <div class="add-rating">
    <% if user_signed_in? %>
      <%= render 'new_comment' %>
    <% else %>
      <%= render 'comment_error' %>
    <% end %>
    </div>
  </div>

    <div class="tab-pane fade" id="C">
      <div class="highest-comment">
        <p>  <%= render 'comments' %></p>
          <%= will_paginate @comments %>
      </div><!-- /highest-comment -->
    </div><!-- /col-md-12 -->
  </div><!-- /col-md-4 -->


       
      </div>
    </div>
  </div><!-- col-md-12-->

<hr><br>
<% end %>

<p><center><% if signed_in? && current_user.admin? %><%= link_to 'Edit', edit_product_path(@product) %> |<% end %>
<%= link_to 'Back', products_path %></center></p>
