<!DOCTYPE html>
<html>
<head>
  <title>Painting With Ruby</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Pacifico|Ubuntu" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/static_pages/landing_page">Kayla Rails</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="menu-bar"><a href="/products">Shop</a></li>
        <li id="menu-bar"><a href="/static_pages/about">About</a></li>
        <li id="menu-bar"><a href="/static_pages/contact">Contact</a></li>
        <li id="menu-bar"><% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
      </ul>
      <ul class="nav pull-left">
       <li id="menu-bar"><%= form_tag("/products", class:"navbar-for navbar-left", role:"search", method: "get") do %>
          <%= text_field_tag(:q, nil, class:"form-control", placeholder:"Search for...") %>
        <%= submit_tag("Go") %>
      <% end %></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if notice %>
  <div class="alert alert-warning" role="alert"><p class="notice"><%= notice %></p></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert"><p class="alert"><%= alert %></p></div>
<% end %>

<%= yield %>

<footer>
<div class="feet">
  &copy; 2016 Kayla Butler. All rights reserved, yo.
 </div>
</footer>

</body>
</html>
